/* src/styles/AboutPage.module.css */

.aboutContainer {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 8px;
    background-color: #f2f2f7;
    transition: background-color 0.2s;
    color: rgb(127, 165, 255);
    background-image: url('../assets/Backgournd_main.png'); 
  }
  
  .brandName {
    font-weight: bold;
    color: #3498db;
  }
  
  .emphasis {
    font-style: italic;
    color: #e74c3c;
  }
  
  #headingMain {
    color: #3498db;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
    font-size: 24px;
  }
  
  #paragraphMain {
    color: #555;
    line-height: 1.6;
  }
  
  #headingFeatures {
    color: #e74c3c;
    margin-top: 20px;
    font-size: 20px;
  }
  
  .listFeatures {
    list-style-type: disc;
    margin-left: 20px;
    color: #555;
  }
  
  #headingExtensions {
    color: #27ae60;
    margin-top: 20px;
    font-size: 20px;
  }
  
  #paragraphExtensions {
    color: #666;
    line-height: 1.6;
  }
  
  .listExtensions {
    list-style-type: disc;
    margin-left: 20px;
    color: #666;
  }
  
  #paragraphEvolution {
    color: #34495e;
    line-height: 1.6;
  }
  