.navbar{
    display: flex;
    flex-direction: row;
    background-color: #4a90e2; 
    color: white;
    padding: 10px 20px;
    justify-content: space-between;
    align-items: center;
}

.Appname {
    font-size: 30px;
    font-weight: bold;
}

.AppIcon {
    height: 50px;
}